<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Subject</title>
  <link rel="stylesheet" type="text/css" href="/style.css"> <!-- Dodanie stylów CSS -->
</head>
<body>
  <div class="container">
    <h1>Add New Subject</h1>
    <form method="POST" action="/add">
      <label>Name:</label>
      <input type="text" name="name" required><br>
      <label>Progress:</label>
      <input type="number" name="progress" min="0" max="100" required><br>
      <label>Achievements:</label>
      <input type="text" name="achievements" required><br>
      <button class="button" type="submit">Add</button> <!-- Dodanie przycisku stylizowanego -->
    </form>
  </div>
</body>
</html>