body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Zmień 'background.jpg' na nazwę Twojego obrazka */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button {
    background-color: #007bff; /* Niebieski kolor przycisku */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button.white {
    background-color: white; /* Biały kolor przycisku */
    color: #007bff;
  }
  
  .box {
    background-color: rgba(255, 255, 255, 0.8); /* Szary kwadrat */
    padding: 20px;
    border-radius: 10px;
  }

  .add-button-container {
    margin-bottom: 20px; /* Dodanie marginesu na dole kontenera przycisku */
  }
  
  .subject-item {
    margin-bottom: 10px; /* Dodanie marginesu na dole elementu listy */
  }

